* {
  padding: 0;
  margin: 0;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

p {
  margin: 0;
  padding: 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2% 0 2%;
}

.nav-list {
  display: flex;
  list-style: none;
  padding-right: 5%;
  gap: 5rem;
}

.logo p {
  color: orange;
  cursor: pointer;
  font-size: 28px;
  text-shadow:
    1px 0 0 #fff,
    -1px 0 0 #fff,
    0 1px 0 #fff,
    0 -1px 0 #fff,
    1px 1px #fff,
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff;
}

.nav-items {
  cursor: pointer;
  color: #d3d3d3;
}

.hide-menu {
  display: none;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin-top: 30px;
  padding: 35px;
  background-color: rgb(228, 228, 228);
}

.cards {
  flex: 1;
  margin-bottom: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  gap: 3px;
}

.one img {
  width: 220px;
  padding-bottom: 10px;
}

#header {
  background-image: url(./img/hero-MOVIE-app.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.header-content {
  padding: 2.5rem 0;
}

.movie__likes {
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 13px;
}

.header-content__title {
  font-size: 3.9vw;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 140%;
  color: #fff;
}

.header-content__title-small {
  font-weight: 100;
  font-size: 2.9vw;
  display: block;
  line-height: 1;
}

.header-content__desc {
  color: #fff;
  padding: 2rem 17rem 2rem 0;
  line-height: 1.3;
}

.button {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
}

.btn:hover {
  border: 1px solid;
}

.btn-primary {
  background-color: #fff;
}

.btn-secondary {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
}

.movie-section {
  margin-top: 3rem;
}

.visible {
  display: flex !important;
}

#movie-section,
#episode-section,
#contact-section {
  display: none;
}

.movie__name {
  font-size: 23px;
}

.popup-section {
  padding: 0;
  margin: 0;
}

.modal-dialog {
  display: flex;
  flex-direction: column;
}

.popup-first-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.popup-second-section {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 1rem 3rem;
}

.popup-image {
  width: 50%;
  height: 25rem;
}

.popup-feature {
  font-size: 22px;
}

.popup-feature-content {
  display: flex;
  justify-content: center;
  align-content: center;
  text-align: center;
  align-items: center;
}

.popup-feature-header {
  font-size: 20px;
}

.popup-third-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  gap: 0.2rem 0;
}

.movie-summary {
  display: flex;
  height: 20%;
  justify-content: center;
  text-align: center;
}

.popup-fiveth-section {
  display: flex;
  flex-direction: column;
  gap: 0.2rem 0;
}

.add-comments {
  display: flex;
  width: 60%;
  flex-direction: column;
  gap: 2rem 0;
  margin-top: 1rem;
}

.form-input {
  height: 2rem;
  padding: 0.5rem;
}

.form-text-area {
  height: 5rem;
  padding: 0.5rem;
}

.form-submit-buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 3rem;
  margin-left: 1.5rem;
}

.form-submit-button {
  width: 5rem;
  padding: 0.25rem;
}

.form-refresh-button {
  width: 5rem;
  padding: 0.25rem;
}

.popup-forth-section {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  gap: 0.25rem 0;
}

.comment-username {
  font-weight: bold;
  font-size: 20px;
}

.comment-items {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.25rem 0;
}

.comments-title {
  display: flex;
.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/* desktop version */
@media screen and (min-width: 768px) {
  .span-feature {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 40%;
    height: 5rem;
  }
}

/* mobile version */
@media screen and (max-width: 768px) {
  .nav-list {
    display: none;
  }

  .hide-menu {
    display: block;
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
  }

  .popup-second-section {
    gap: 0.5rem 3rem;
  }

  .popup-image {
    height: 15rem;
  }

  .span-feature {
    display: flex;
    align-content: center;
    width: 35%;
    height: 5rem;
  }

  .header-content__title {
    font-size: 11vw;
    font-weight: 800;
    line-height: 120%;
  }

  .header-content__title-small {
    font-size: 4.9vw;
    line-height: 3;
    letter-spacing: 0.3rem;
  }

  .header-content__desc {
    padding: 1rem 0;
    line-height: 1.3;
  }
}
